<%= form_with(model: @message, local: true) do |f| %>

  <%= f.hidden_field :sender_user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :item_id, value: @item.id %>

  <%= f.submit "Create message", class: "btn btn-block btn-outline-secondary" %>
<% end %>
